.gitignore
.nvmrc
.tsbuildinfo
.vscode-test/**
.vscode/**
.yarn
.yarnrc
**/.vscode-test.*
**/*.map
**/*.ts
**/eslint.config.mjs
**/tsconfig.json
esbuild.js
node_modules/**
out/**
src/**
vsc-extension-quickstart.md
